{% extends "base.html" %}
{% block content %}
    <!-- empty action will get redirected to present url -->
    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %} 
      <fieldset class="form-group">
        <input type="text" name="card_title" class="form-control" id="formGroupExampleInput" placeholder="Card Title">
      </fieldset>

      <fieldset class="form-group">
        <input type="text" name="card_description" class="form-control" id="formGroupExampleInput" placeholder="Description">
      </fieldset>
      
      <fieldset class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" name="card_picture" class="form-control-file" id="exampleInputFile">
      </fieldset>
      
      <button type="submit" class="btn btn-primary">Create</button>
    </form>

{% endblock %}



