{% extends "base.html" %}
{% load cards_filter %}


{% block content %}

	<div class="well">Home</div>
	{% if cards.count > 0 %}
		<div class="row">
		    {% for card in cards.object_list %}
		        <div class="col-sm-12 col-md-4">
		            <a href="{% url 'view_card' card.id %}">
		                <p><img src="{{ MEDIA_URL }}{{card.card_hero_image}}" width="330" height ="160"/></p>
		            </a>
		            <a href="{% url 'view_card' card.id %}"><h3>{{ card.card_title }}</h3></a>
		            <p>{{ card.card_description|truncatewords:3 }}</p>
		        </div>
		    {% endfor %}
		</div>

		<div class="row">
		    <ul class="pagination">
		      
		          {% if cards.has_previous %}
		              <li><a href="?page={{ cards.previous_page_number }}">Previous</a></li>
		          {% endif %}
		          {% for pg in cards.paginator.page_range %}
		              {% if cards.number == pg %}
		                  <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
		              {% else %}
		                  <li><a href="?page={{ pg }}">{{ pg }}</a></li>
		              {% endif %}
		          {% endfor %}
		          {% if cards.has_next %}
		              <li><a href="?page={{ cards.next_page_number }}">Next</a></li>
		          {% endif %}
		      
		    </ul>
		</div>

	{% else %}
	    <p>None to Show cards are empty</p>
	{% endif %}

{% endblock content %}