{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load cards_filter %}

{% block content %}

	<div class="content-details">
		<h1> {{ card.card_title }} </h1>
		{% if card.card_hero_image %}
			<p><img src="{{ MEDIA_URL }}{{card.card_hero_image}}" width="730" height ="160"/></p>
		{% endif %}
		 created on -{{ card.card_created }} {% if card.user %} | by {{ card.user }}{% endif %}
	     <br>
		 <br>
		 <h1>Card Description</h1>

        <div class="btn-group" role="group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  	{% if likes %}
					<p class="glyphicon glyphicon-thumbs-up"></p>
					{{likes.get_likes_count}}
				{% endif %}
				<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					{% for user in likes|like_users%}
		            	<li>{{user}}</li>
		            {% endfor %}
				</ul>
		</div>
		 
		 {% if request.user in likes.user.all %}
		 	<a href="{% url 'like' card.id %}"> DisLike</a>
		 {% else %}
		 	<a href="{% url 'like' card.id %}"> Like</a>
		 {% endif %}
		 <br>
		 <br>
		{{ card.card_description}}
	</div>

	<br><br><br>

	<form action="{% url 'comment' card.id %}" method="POST">
		{% csrf_token %}
		{{form|crispy}}
		<input class="btn btn-primary btn-sm" type='submit' name='submit' value='Comment'>
    </form>
	 
	 {% if comments %}
	 	<h3>Comments</h3>
	 	{% for comment in comments %}
		 	<div class="panel panel-info">
			  <div class="panel-body">
			    {{comment.comments}}
			  </div>
			  <div class="panel-footer">by | {{comment.user}}</div>
			</div>
		{% endfor %}
    {% endif %}

{% endblock %}